@import './animation';

%sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

%clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

$contentHeight: 100vh;

html {
    font-size: 62.5%;
}

body {
    background-color: #ffffff;
    font-family: 'Playfair Display', 'Yeon Sung', cursive;
    font-size: 1.8rem;
    line-height: 1.8;
}

.line {
    svg {
        width: 200px;
        height: 26px;
        fill: #555;
    }
}

#container {
    box-sizing: border-box;
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
}

header {
    position: relative;
    height: $contentHeight;
    background: url('../img/sunlight.jpg') no-repeat center center scroll;
    background-size: cover;
    color: #555;

    @media all and (orientation: landscape) {
        height: auto;
    }

    h1 {
        @extend %sr-only;
    }

    .couple {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        text-align: center;

        p {
            margin: 0;
            font-size: 5rem;
            font-family: 'Yeon Sung', cursive;

            i {
                animation: heartbeat 1s infinite;
                color: #c33;
            }
        }
    }

    address {
        position: absolute;
        bottom: 40px;
        width: 100%;
        text-align: center;
        font-style: normal;
        font-size: 2rem;
        color: #555;
    }
}

article {
    box-sizing: border-box;
    position: relative;
    height: $contentHeight;

    @media all and (orientation: landscape) {
        height: auto;
    }

    &:not(:first-of-type):before {
        content: '';
        display: block;
        width: 100%;
        height: 10px;
        margin-top: 10px;
        background: url('../img/bg_line.png') repeat-x;
    }

    h2 {
        margin: 0;
        padding: 60px 0 40px;
        text-align: center;
        color: #7B7B7B;
        letter-spacing: 10px;

        &:after {
            content: "";
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 30px;
            background-color: #7B7B7B;
        }
    }
}

.greeting {
    height: auto;

    p {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 2.4rem;
    }

    .contact {
        margin-top: 40px;
        width: 100%;

        dl {
            display: flex;
            flex-direction: row;

            dt {
                margin: 0;
                flex: 0 0 50%;
                text-align: right;
                align-self: center;
                vertical-align: middle;
                color: #7B7B7B;

                span {
                    padding: 0 20px 0 10px;
                    color: #555;
                    font-size: 1.8rem;
                }
            }

            dd {
                margin: 0;
                flex: 0 0 50%;
                align-self: center;

                span:first-child {
                    margin: 0 10px;
                }

                a {
                    padding: 10px;
                    color: #fff;
                    background: #555;
                    display: inline-block;
                    border-radius: 50%;
                }
            }
        }
    }
}

.gallery {
    padding:0 10px;
    height: auto;

    .list {
        margin:0;
        padding:0;
        column-count: 2;
        column-gap: 10px;

        li {
            list-style: none;
            margin-bottom: 10px;
            break-inside: avoid;
            box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
        }
    }
}

.location {
    display: flex;
    flex-direction: column;

    h2 {
        flex: 0 1 auto;
    }

    .map {
        position: relative;
        flex: 1 1 auto;
    }
}

.gest-book {
    height: auto;
    padding:0 20px;
}
